.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 51px auto 0;

  .social-media {
    display: none;

    align-items: center;
    width: 132px;
    justify-content: space-between;
    @media only screen and (min-width: 1024px) {
      display: flex;
      margin-right: 20px;
    }
  }

  .geo-label {
    display: flex;
    align-items: center;
    margin: 0 6px;
    position: relative;
    gap: 13px;

    @media only screen and (min-width: 1024px) {
      margin: 0 73px;
    }
  }

  .buttons {
    gap: 10px;
    align-items: center;
    .account {
      display: none;
    }
    @media only screen and (min-width: 1024px) {
      gap: 20px;
      .account {
        display: block;
      }
      .icon {
        display: none;
      }
    }
  }

  .info {
    display: flex;
  }

  .logo {
    img {
      width: 120px;
      height: auto;
    }
  }

  .city-select {
    padding: 35px 28px;
    overflow: hidden;
    background: #fff;
    z-index: 10;

    position: absolute;
    top: 40px;
    width: max-content;

    border-radius: $default-radius;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);

    .active{
      color: $light-blue;
    }

    &.close {
      max-height: 0;
      padding: 0;
    }

    div{
      cursor: pointer;
    }

  }

  @media only screen and (max-width: 1024px) {
    margin: 39px auto 0;
  }
}
