.modal {
  font-family: "__euclideFlex_910ac1", "__euclideFlex_Fallback_910ac1";

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  @extend %flex-center;
  background: transparent;
  pointer-events: none;

  &.open {
    background: #0000004f;
    display: flex !important;
    pointer-events: auto;
    & .content {
      opacity: 1;
    }
  }

  & .content {
    position: relative;
    width: clamp(350px, 80%, 700px);
    padding: 40px;

    background: #fff;
    border-radius: $default-radius;
    opacity: 0;
  }

  & .modal-cross{
    cursor: pointer;
    position: absolute;
    top: 36px;
    right: 40px;
  }

  
  & .modal-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & .modal-label {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      width: 100%;
      margin-bottom: 7px;
    }

    & .modal-input {
      margin-bottom: 15px;
      border-radius: 1000px;
      border: 1px solid $dark-blue;
      padding: 12px 16px;
    }

    & .c-btn {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 11px;

      path {
        stroke: white;
      }
    }
  }

  & .modal-select{
    background: #fff;
    border-radius: $default-radius;
  }

}
