* {
  font-family: inherit;
  font-size: 18px;
}

html{
  background-color: #F5F5F5;
  overflow-x: hidden;
  width: 100vw;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


main {
  width: 98%;
  margin: auto;
  @media only screen and (min-width: 1024px) {
    width: calc(98% - 80px);
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

.c-btn {
  padding: 15px 25px;
  background: radial-gradient(
    70.26% 224.84% at 27.18% 37%,
    #00a2e4 23.34%,
    #2000e4 100%
  );
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}

.o-btn {
  //outline button
  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  height: fit-content;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
  border: 0;

  &[data-outline="true"] {
    border: 1px solid #00a2e4;
  }

  &[data-color="blue"] {
    border-color: #00a2e4;
    color: #00a2e4;
  }
  &[data-color="orange"] {
    border-color: #c96332;
    color: #c96332;
  }
  &[data-color="green"] {
    border-color: #00e49f;
    color: #00e49f;
  }

  @media screen and (min-width: 1024px) {
    padding: 15px 25px;
  }
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}


