$light-green: #00e49f;
$light-blue: #00a2e4;
$orange: #c96332;
$dark-blue: #0E0F31;
$yellow: #FFA825;

$default-gap: 30px;
$default-radius: 20px;

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}