.title-buttons {
  // @extend %flex-center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      width: fit-content;
    }

    svg {
      margin-left: 12px;
    }

    @media screen and (min-width: 1024px) {
      gap: 12px;
      width: fit-content;
    }
  }

  &.no-wrap{
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;

    .buttons{
      width: auto;
    }
  }
}
