.tabs {
  .tab-titles {
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }

  .tab-title {
    &.active {
      color: $light-blue;
    }
  }

  .tab-panel {
    display: none;

    &.active {
      display: block;
    }
  }

  .tab-panels{
    margin-top: $default-gap;
  }
}
