.security{
  .buttons{
    display: flex;
    gap: 12px;
  }

  .card{
    width: clamp(180px, 100%, 330px);
    padding: 35px;
  }

  .card-header{
    display: flex;
    justify-content: space-between;
  }

  .rating{
    border: 1px solid #D5D5D5;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
}