.background-line {
  position: absolute;
  overflow-x: hidden;
  z-index: -100;
  left: 0vw;
  right: 0;
  // width: 100vw;
  top: 0;
  height: 150vh;
  background: transparent;

  .line {
    position: absolute;
    left: -20%;
    top: -40vh;
    rotate: 10deg;
    width: 150vw;
    background-color: white;
    box-shadow: 0 0 60px rgba($color: #000000, $alpha: 0.1);
    height: 100vh;
  }

  &.bottom {
    top: -150vh;
    .line{
      top: unset;
      bottom: -40vh;
    }
  }
}
