.c-btn {
  padding: 15px 25px;
  background: radial-gradient(
    70.26% 224.84% at 27.18% 37%,
    $light-blue 23.34%,
    #2000e4 100%
  );
  border: 0;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}