.accordion-section {

  * {
    transition: all 0.3s ease;
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
  }

  .szh-accordion__item-heading {
    background: white;

    border-radius: $default-radius;

    path {
      fill: black;
    }

    svg {
      rotate: -90deg;
    }

    &:hover {
      background: $light-blue;
      path {
        fill: white;
      }
      button {
        color: white;
      }
    }

    button {
      padding: 40px;
      width: 100%;
      background: transparent;
      text-align: start;
      border: 0;
      outline: 0;

      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: #0e0f31;
      transition: all 0.1s ease;
      * {
        transition: all 0.1s ease;
      }
    }
  }

  .szh-accordion__item--expanded {
    .szh-accordion__item-heading {
      border-radius: $default-radius $default-radius 0 0;
      background: $light-blue;
      box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.05);
      button {
        color: white;
      }
      path {
        fill: white;
      }
      svg {
        rotate: 90deg;
      }
    }
  }

  .szh-accordion__item {
    margin-bottom: 30px;
    padding: 0.1px;
  }
  .arrow {
    width: 13px;
    height: 8px;
  }
  .szh-accordion__item-content {
    padding: 40px;
    background: white;
    border-radius: 0 0 $default-radius $default-radius;
  }

  .szh-accordion__item--status-exiting {
    .szh-accordion__item-content {
      padding: 0 40px;
    }
  }
  .szh-accordion__item--status-entering {
    .szh-accordion__item-content {
      padding: 40px 40px;
    }
  }
}
