.company-service {
  & .category {
    display: flex;
    gap: 20px;

    & p {
      font-weight: 400;
      font-size: 24px;
      line-height: 22px;

      color: $dark-blue;
    }
  }

  & .price-div {
    & .price {
      font-weight: 600;
      font-size: 32px;
      line-height: 41px;
      margin: 23px 0 10px;

      color: $light-blue;
    }

    & .info {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;

      color: $dark-blue;
      margin-bottom: 30px;
    }
  }
}
