.search {
  .search-line {
    display: grid;

    gap: 28px;
    margin-top: 40px;
    margin-bottom: 34px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 4fr;
    }
  }

  .search-input {
    border: 1px solid $dark-blue;
    border-radius: 10000px;
    padding: 16px 21px;
    display: flex;
    align-items: center;
    gap: 12px;
    input {
      width: 100%;
      border: 0;
      outline: 0;
      background: transparent;

      font-weight: 400;
      font-size: 20px;
      line-height: 25px;

      color: $dark-blue;
    }
  }

  .results-section {
    display: grid;
    gap: 28px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 4fr;
    }
  }

  .sorts {
    display: flex;
    gap: 35px;
  }

  .filters {
    max-width: calc( 100vw - 4vw );
    box-sizing: border-box;
    top: 30px;
    padding: 40px 55px 45px;
    background: white;
    border-radius: 8px;
    height: fit-content;
    @media screen and (min-width: 1024px) {
      position: sticky;
    }
  }

  .filter-item{
    
    box-sizing: border-box;
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: $default-gap;
  }

  .tab-titles {
    flex-direction: column;
  }
}
