.custom-select {

  position: relative;

  .custom-select-options {
    padding: 35px 28px;
    overflow: hidden;
    background: #fff;
    z-index: 10;

    position: absolute;
    top: 40px;
    left: 0;
    width: max-content;

    border-radius: $default-radius;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);

    .active{
      color: $light-blue;
    }

    &.close {
      max-height: 0;
      padding: 0;
    }

    div{
      cursor: pointer;
    }

  }

}
