@mixin select-color($color) {
  &.outline {
    border-color: $color;
  }
  .text {
    color: $color;
  }
  path{
    fill: $color;
  }
}

.custom-select {
  position: relative;

  .custom-select-options {
    padding: 35px 28px;
    overflow: hidden;
    background: #fff;
    z-index: 10;

    position: absolute;
    top: 40px;
    left: 0;
    width: max-content;

    border-radius: $default-radius;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);

    .active {
      color: $light-blue;
    }

    &.close {
      max-height: 0;
      padding: 0;
    }

    div {
      cursor: pointer;
    }
  }

  .text {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    p {
      display: flex;
      align-items: center;
      gap: 13px;
    }
  }

  .arrow-icon {
    transition: all 0.3s ease;
  }

  &.outline {
    padding: 16px 21px;
    border: 1px black solid;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    .text {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  &[data-color="orange"] {
    @include select-color($orange);
  }
  &[data-color="dark-blue"] {
    @include select-color($dark-blue);
  }
}
