%shadow-card {
  background-color: #ffffff;
  box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.02);
  border-radius: $default-radius;
  box-sizing: border-box;
}

.company-page {
  & .company-card {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;

    padding: 62px 90px;
    background: #ffffff;
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.02);
    border-radius: $default-radius;

    & .logo{
      border-radius: 1000px;
    }

    & .info-top {
      display: flex;
      gap: 40px;
    }

    & .address {
      color: $orange;

      & a {
        margin-left: 32px;

        font-weight: 400;
        font-size: 14px;
        line-height: 15px;

        color: $light-blue;
        border-bottom: $light-blue 1px dashed;
      }
    }

    & .company-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    & .company-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 51px;

      color: #0e0f31;
    }

    & .info-bottom {
      display: flex;
      gap: 20px;
    }

    & .buttons {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      gap: 10px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
      }

      & .white-icon {
        path {
          stroke: white;
        }
      }
    }
  }

  & .company-accordion {
    margin-top: 40px;
    padding: 52px 50px;
    background: #ffffff;
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.02);
    border-radius: $default-radius;

    & .text {
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;

      &::after {
        transition: all 0.3s ease;
        position: absolute;
        content: "";
        background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
        opacity: 1;

        left: 0;
        right: 0;
        bottom: 0;
        height: 50%;
        z-index: 2;
      }
    }

    &[data-open="true"] {
      & .text {
        max-height: 1000px;
        &::after{
          opacity: 0;
        }
      }
    }

    &[data-open="false"] {
      & .text {
        max-height: 100px;

        &::after {
          opacity: 1;
        }
      }
    }

    &[data-big="false"] {
      & .text {
        &::after {
          opacity: 0;
        }
      }
    }


    & .more-less {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: $light-blue;
      gap: 12px;
    }

    & .arrow-icon {
      transition: all 0.3s ease;
    }
  }

  & .services-tabs {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: $default-gap;

    & .tab-titles {
      @extend %shadow-card;
      padding: 25px;
      flex-direction: column;
      height: fit-content;
    }

    & .tab-name-wrap {
      display: flex;
      gap: 12px;
      & svg {
        min-width: 20px;
      }
    }

    & .tab-panels {
      margin-top: 0;
      padding: 50px 60px;
      @extend %shadow-card;
      height: 100%;
    }

    & hr {
      border: 1px solid #f4f4f7;
      margin: 30px -60px;
    }
  }

  & .company-reviews-section {
    & .reviews {
      @extend %shadow-card;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 74px;
      padding: 40px;
    }

    & .top {
      display: flex;
      gap: $default-gap;
    }

    & .review-company-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }

    & .review-rating {
      display: flex;
      align-items: center;
      gap: $default-gap;
      margin-top: 30px;
    }

    & .review-hr {
      border: 1px solid #f4f4f7;
      margin: $default-gap 0;
    }

    & .add-review {
      display: flex;
      align-items: center;
      gap: $default-gap;

      & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
      }
    }

    & .best-offer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      & .best-offer-item {
        background: #f4f4f7;
        padding: 30px 35px 35px;
        box-sizing: border-box;
        border-radius: $default-radius;
      }

      & .offer-tittle {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
      }

      & div {
        margin-bottom: 20px;
      }

      & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }

      & .offer-medium {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }

      & .offer-big {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}
