.services {
  margin-top: 40px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  gap: $default-gap;

  .service {
    border-radius: $default-radius;
    // width: 460px;
    width: 100%;
    height: 360px;
    position: relative;

    background-repeat: no-repeat !important;
    background-size: cover !important;
    
    *{
      transition: all .3s ease ;
    }

    a {
      color: white;

      .content {
        display: flex;
        flex-direction: column;
        width: 70%;
        position: absolute;
        bottom: 40px;
        left: 40px;
        gap: 12px;
        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    &:hover{
      .arrow{
        margin-left: 12px;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
